<div class="col-sm-3">
			<ul class="nav nav-pills nav-stacked">
			  <li>{{#link-to 'leaves' }}Leaves{{/link-to}}</li>
			  <li>{{#link-to 'leaves.new' }}New{{/link-to}}</li>
			  <li><a {{action "logout"}}>Logout</a></li>
			</ul>
		</div>